#lillyh1{
    font-size: 60px;
    color: rgb(248, 101, 16);
    font-family: 'Anton', sans-serif;
    padding-top: 30px;
    }

    .sidenav{
      list-style-type: none; 
    }


    .homemain {
      text-align: center;
      color: rgb(255, 136, 0);
      Font-size: 25px;
      font-family: 'Noto Serif', serif;
    }
    .footer {
      text-align: center;
    } 

    #hp{
      padding: 20px;
     
    }
    
    #lp{
      padding: 20px;
    
    
    }#pp{
      padding: 20px;
    
    }
    
#dropdown1 {
  position: relative;
  display: inline-block;
}

 
  #dropbtn1 {
    background-color: rgb(236, 149, 90);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: rgb(0, 0, 0);
  }

  #dropdown-content1 {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(231, 82, 23, 0.623);
    z-index: 1;

}
#dropdown-content1 a {
  color: rgb(241, 102, 37);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: black;
}
  
  
#dropdown-content1 a:hover {background-color: #ddd;}

  
#dropdown1:hover #dropdown-content1 {display: block;} 
  
#dropdown1:hover #dropbtn1 {background-color: rgb(245, 110, 0);}




  #lillyh1{
      padding: 10px;
      margin: 10px;

      }

    .column {
        float: left;
        width: 20%;
        padding: 1px;
        margin: 0.1px;
        justify-content: space-around;
      }
      
    
      .column img {
        opacity: 0.8;
        cursor: pointer;
      }
      
      .column img:hover {
        opacity: 1;
      }
      
     
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
    
      .container {
        position: relative;
        display: none;
        width: 350px;
        padding-left: 440px;
        Padding-top: 30px;
      }
      
    
      
      .closebtn {
        position: absolute;
        top: 10px;
        right: 15px;
        color: black (255, 153, 0);
        font-size: 80px;
        cursor: pointer;
      }

      .row{
        padding-left: 375px;
      }

      .text{
        font-size: 25px;
        padding-left: 225px;
        font-family: 'Noto Serif', serif;
        color: rgb(255, 136, 0);
        max-width: 800px;
       }
      }
    